# Set 'core.autocrlf' configuration (choose either 'input' or 'false')
# Set to 'input' on Unix-like systems
git config --global core.autocrlf input

# Set to 'false' on Windows
# git config --global core.autocrlf false

# Change directory to your React app
cd your-react-app-directory

# Initialize a Git repository
git init



# Add and commit your code
git add .
git commit -m "Initial commit"

# Add your GitHub repository as a remote
git remote add origin https://github.com/your-username/your-repository.git

# Push your code to GitHub (assuming 'master' branch)
git push -u origin master
node_modules
